<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
    <div class="aside">
        <h1>Drive</h1>
        <div class="menu">
            <li><a href="#">Information</a></li>
            <li><a href="login">Login</a></li>
        </div>
    </div>
    <p>{{content}}</p>
</body>
</html>