<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
    <div class="aside">
        <h1>Drive</h1>
        <p>username: {{username}}</p>
        <p>email: {{email}}</p>
        <p>uuid: {{uuid}}</p>
        <p>space: {{space}} GB</p>
    </div>
    <form action="/user" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label>Select Image</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="image">
                <button type="submit" class="btn btn-primary">Submit</button>
                <label class="custom-file-label" for="image">Select Image...</label>
            </div>
        </div>

    </form>



</body>
</html>